{{#if answerQuestion}}
  <div class="different-background">
    <form>
      <div class="form-group">
        <label for="screenName">Username</label>
        {{input value=screenName id="screenName" placeholder=answer.screenName}}
      </div>

      <div class="form-group">
        <label for="solution">Answer</label>
        {{input size="130" value=solution id="solution" placeholder=question.solution}}
      </div>

      <button {{action 'answerQuestion'}}>Submit</button>
    </form>
  </div>
{{else}}
  <button class="btn-lg btn-danger" {{action 'answerQuestionShow'}}>Give Answer!</button>
{{/if}}
