<div class="container bg-right">
  <h1 class="color">{{model.query}}</h1>
     <h4>{{model.screenName}}</h4>
     <img class="avatar" src={{model.avatar}}>
  <p>{{model.content}}</p>
  <hr>

  {{new-answer saveAnswer="saveAnswer2" question=model}}

  {{#each model.answers as |answer|}}
    {{ display-answer answer=answer }}
  {{/each}}
</div>
