<div class="container">
  <h1 class="color">{{model.query}}</h1>
  <div class="row">
     <h4>{{model.screenName}}</h4>
     <img class="avatar" src={{model.avatar}}>
  </div>
  <p>{{model.content}}</p>

  {{ new-answer saveAnswer="saveAnswer2" question=model}}

  <!-- {{ submitted-answer question=model}} -->

</div>
